.messages {
  height: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

.window {
  display: flex;
  flex-direction: column;

  border: 1px solid #cdcdcd;
  border-radius: 8px;

  overflow-y: hidden;
}

.display {
  flex-grow: 1;
  padding: 30px 30px 0;
  overflow-y: auto;
}

.contacts {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
