.users {
  position: relative;
  width: 65%;
  min-height: 100%;
}

.input {
  width: 100%;
  height: 100%;

  display: block;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  border: 1px solid #cdcdcd;
  border-radius: 8px;

  padding: 1em;
  margin-bottom: 20px;

  outline: none;
}

.usersList {
  margin-bottom: 20px;
}

.loader {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
