.label {
  display: block;
  width: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  border-radius: 4px;
}

.wrapper {
  display: block;
  position: relative;
  width: 100%;

  border-radius: inherit;
}

.input {
  width: inherit;
  height: inherit;

  font-family: inherit;
  font-size: inherit;

  border: 1px solid #cdcdcd;
  border-radius: inherit;

  transition: border 500ms;
  padding: 1em;

  outline: none;
}

.textarea {
  width: inherit;
  height: 165px;

  font-family: inherit;
  font-size: inherit;

  border: 1px solid #cdcdcd;
  border-radius: inherit;

  transition: border 500ms;
  padding: 1em;

  resize: none;
  outline: none;
}

.input:focus,
.textarea:focus {
  border: 1px solid #727595;
  transition: border 500ms;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 500;

  padding-left: 2px;
  margin-bottom: 5px;

  cursor: pointer;
}

.error {
  position: absolute;
  top: -1.3em;
  right: 0.2em;

  font-size: 20px;
  color: rgb(247, 62, 62);
}
