.form {
  width: 100%;
  margin-bottom: 30px;
}

.textarea {
  margin-bottom: 25px;
}

.submit {
  display: block;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  background-color: #727595;

  padding: 10px 20px;
  margin: 0 0 0 auto;

  cursor: pointer;
}

.submit:focus,
.submit:hover {
  background-color: #7c80a7;
  transition: background-color 200ms;
}

.submit:disabled {
  background-color: #737480;
  color: #dddddd;
  cursor: not-allowed;
}
