.user {
  display: flex;
  margin-bottom: 100px;
}

.img {
  display: block;
  margin-right: 15px;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.item {
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  color: #5d6183;
}
