.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;

  padding: 0 24px;
}

.logo,
.login,
.avatar,
.signIn,
.signOut {
  display: block;
}

.logo {
  height: 40px;
}
