.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
}

.logo {
  display: block;

  height: 50px;
}

.login {
  display: block;
}

.avatar {
  display: block;
}

.logIn,
.logOut {
  display: block;
}
