.item {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  color: #5d6183;
}

.editor {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #fff;
}

.input {
  font-family: inherit;
  font-size: inherit;

  border-radius: 2px;
  border: 1px solid #cdcdcd;

  margin-right: 20px;
  outline: none;
}

.saveButton {
  display: block;

  font-family: inherit;
  font-size: 15px;
  color: #ffffff;

  border: none;
  border-radius: 2px;
  background-color: #727595;

  padding: 0.3em 0.4em;
  margin-right: 10px;
  cursor: pointer;
}

.closeButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.loader {
  width: 40px;
  height: 40px;
}
