@import '~antd/dist/antd.css';

.app {
  height: 100vh;
}

.content {
  position: relative;
  padding: 24px;
  overflow: auto;
}

.appLoader,
.appErrorResult {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
