.form {
  width: 100%;
  margin-bottom: 30px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.textarea {
  height: 165px;
  margin-bottom: 25px;
}

.submit {
  display: block;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  background-color: #727595;

  padding: 10px 20px;
  margin: 0 0 0 auto;

  cursor: pointer;
}
